<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>category_names</key>
        <array>
        </array>
        <key>bodies</key>
        <dict>

            <key>L</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <false/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1e+06</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1e+06</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>4294967295</integer>
                        <key>collision_mask</key>
                        <integer>4294967295</integer>
                        <key>contact_test_mask</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -206.00000,5.00000 }</string>
                                <string>{ -178.00000,38.00000 }</string>
                                <string>{ -70.00000,61.00000 }</string>
                                <string>{ 61.00000,67.00000 }</string>
                                <string>{ 195.00000,67.00000 }</string>
                                <string>{ 169.00000,24.00000 }</string>
                                <string>{ -167.00000,-68.00000 }</string>
                                <string>{ -203.00000,-49.00000 }</string>
                            </array>
                            <array>
                                <string>{ 199.00000,39.00000 }</string>
                                <string>{ 169.00000,24.00000 }</string>
                                <string>{ 195.00000,67.00000 }</string>
                                <string>{ 204.00000,58.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>R</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <false/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1e+06</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1e+06</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.20000000298023224</real>
                        <key>friction</key>
                        <real>0.699999988079071</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>4294967295</integer>
                        <key>collision_mask</key>
                        <integer>4294967295</integer>
                        <key>contact_test_mask</key>
                        <integer>0</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 176.00000,-64.00000 }</string>
                                <string>{ 145.00000,-64.00000 }</string>
                                <string>{ -173.00000,24.00000 }</string>
                                <string>{ -71.00000,67.00000 }</string>
                                <string>{ 93.00000,59.00000 }</string>
                                <string>{ 182.00000,36.00000 }</string>
                                <string>{ 203.00000,8.00000 }</string>
                                <string>{ 206.00000,-47.00000 }</string>
                            </array>
                            <array>
                                <string>{ -191.00000,69.00000 }</string>
                                <string>{ -71.00000,67.00000 }</string>
                                <string>{ -173.00000,24.00000 }</string>
                                <string>{ -201.00000,42.00000 }</string>
                                <string>{ -203.00000,56.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

        </dict>
    </dict>
</plist>




