<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
	</dict>
	<key>category_names</key>
	<array/>
	<key>bodies</key>
	<dict>
		<key>Image004</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50100,0.50000 }</string>
			<key>is_dynamic</key>
			<false/>
			<key>affected_by_gravity</key>
			<false/>
			<key>allows_rotation</key>
			<false/>
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.2000000029802322</real>
					<key>friction</key>
					<real>0.699999988079071</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>4294967295</integer>
					<key>collision_mask</key>
					<integer>4294967295</integer>
					<key>contact_test_mask</key>
					<integer>0</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 315.50000,426.50000 }</string>
							<string>{ 323.50000,415.50000 }</string>
							<string>{ 279.50000,434.50000 }</string>
						</array>
						<array>
							<string>{ 408.50000,350.50000 }</string>
							<string>{ 355.50000,391.50000 }</string>
							<string>{ 315.50000,426.50000 }</string>
							<string>{ 366.50000,397.50000 }</string>
						</array>
						<array>
							<string>{ 315.50000,426.50000 }</string>
							<string>{ 355.50000,391.50000 }</string>
							<string>{ 323.50000,415.50000 }</string>
						</array>
						<array>
							<string>{ 408.50000,350.50000 }</string>
							<string>{ 389.50000,354.50000 }</string>
							<string>{ 355.50000,391.50000 }</string>
						</array>
						<array>
							<string>{ 408.50000,350.50000 }</string>
							<string>{ 412.50000,258.50000 }</string>
							<string>{ 399.50000,305.50000 }</string>
							<string>{ 389.50000,354.50000 }</string>
						</array>
						<array>
							<string>{ 412.50000,258.50000 }</string>
							<string>{ 416.50000,-532.50000 }</string>
							<string>{ 409.50000,-532.50000 }</string>
							<string>{ 399.50000,305.50000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.2000000029802322</real>
					<key>friction</key>
					<real>0.699999988079071</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>4294967295</integer>
					<key>collision_mask</key>
					<integer>4294967295</integer>
					<key>contact_test_mask</key>
					<integer>0</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -354.50000,149.50000 }</string>
							<string>{ -429.50000,533.50000 }</string>
							<string>{ -268.50000,401.50000 }</string>
							<string>{ -309.50000,238.50000 }</string>
						</array>
						<array>
							<string>{ -116.69000,507.70227 }</string>
							<string>{ -429.50000,533.50000 }</string>
							<string>{ -18.50000,525.50000 }</string>
						</array>
						<array>
							<string>{ -199.50000,473.50000 }</string>
							<string>{ -429.50000,533.50000 }</string>
							<string>{ -116.69000,507.70227 }</string>
						</array>
						<array>
							<string>{ -268.50000,401.50000 }</string>
							<string>{ -429.50000,533.50000 }</string>
							<string>{ -199.50000,473.50000 }</string>
						</array>
						<array>
							<string>{ -354.50000,149.50000 }</string>
							<string>{ -415.50000,-157.50000 }</string>
							<string>{ -426.50000,-167.50000 }</string>
							<string>{ -429.50000,533.50000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.2000000029802322</real>
					<key>friction</key>
					<real>0.699999988079071</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>4294967295</integer>
					<key>collision_mask</key>
					<integer>4294967295</integer>
					<key>contact_test_mask</key>
					<integer>0</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 316.50000,340.50000 }</string>
							<string>{ 339.50000,300.50000 }</string>
							<string>{ 322.50000,309.50000 }</string>
							<string>{ 291.50000,354.50000 }</string>
						</array>
						<array>
							<string>{ 339.50000,300.50000 }</string>
							<string>{ 349.50000,261.50000 }</string>
							<string>{ 334.50000,266.50000 }</string>
							<string>{ 322.50000,309.50000 }</string>
						</array>
						<array>
							<string>{ 349.50000,261.50000 }</string>
							<string>{ 352.50000,169.50000 }</string>
							<string>{ 339.50000,216.50000 }</string>
							<string>{ 334.50000,266.50000 }</string>
						</array>
						<array>
							<string>{ 352.50000,169.50000 }</string>
							<string>{ 356.50000,-621.50000 }</string>
							<string>{ 349.50000,-621.50000 }</string>
							<string>{ 339.50000,216.50000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.2000000029802322</real>
					<key>friction</key>
					<real>0.699999988079071</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>4294967295</integer>
					<key>collision_mask</key>
					<integer>4294967295</integer>
					<key>contact_test_mask</key>
					<integer>0</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 359.50000,409.50000 }</string>
							<string>{ 373.50000,513.50000 }</string>
							<string>{ 412.50000,350.50000 }</string>
						</array>
						<array>
							<string>{ 278.50000,439.50000 }</string>
							<string>{ 231.50000,474.50000 }</string>
							<string>{ 210.50000,523.50000 }</string>
							<string>{ 373.50000,513.50000 }</string>
							<string>{ 359.50000,409.50000 }</string>
						</array>
						<array>
							<string>{ 167.50000,501.50000 }</string>
							<string>{ 210.50000,523.50000 }</string>
							<string>{ 231.50000,474.50000 }</string>
						</array>
						<array>
							<string>{ 89.50000,517.50000 }</string>
							<string>{ 210.50000,523.50000 }</string>
							<string>{ 167.50000,501.50000 }</string>
						</array>
						<array>
							<string>{ -50.50000,527.50000 }</string>
							<string>{ 210.50000,523.50000 }</string>
							<string>{ 89.50000,517.50000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.2000000029802322</real>
					<key>friction</key>
					<real>0.699999988079071</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>4294967295</integer>
					<key>collision_mask</key>
					<integer>4294967295</integer>
					<key>contact_test_mask</key>
					<integer>0</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -424.50000,-541.50000 }</string>
							<string>{ -413.50000,-200.50000 }</string>
							<string>{ -131.50000,-535.50000 }</string>
						</array>
						<array>
							<string>{ -424.50000,-541.50000 }</string>
							<string>{ -424.50000,-162.50000 }</string>
							<string>{ -412.50000,-164.50000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>friction</key>
					<real>0.7</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>4294967295</integer>
					<key>collision_mask</key>
					<integer>4294967295</integer>
					<key>contact_test_mask</key>
					<integer>0</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 122.50000,-527.50000 }</string>
							<string>{ 345.50000,-239.50000 }</string>
							<string>{ 346.50000,-527.50000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.2000000029802322</real>
					<key>friction</key>
					<real>0.699999988079071</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>4294967295</integer>
					<key>collision_mask</key>
					<integer>4294967295</integer>
					<key>contact_test_mask</key>
					<integer>0</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 347.50000,-523.50000 }</string>
							<string>{ 439.50000,-523.50000 }</string>
							<string>{ 412.50000,-549.50000 }</string>
							<string>{ 351.50000,-553.50000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
